<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5" />
        </svg>
      </div>
      <h1>Hoş Geldiniz</h1>
      <p>Devam etmek için giriş yapın</p>
      <ul class="hint-wrapper">
        <li>Email: demo@sertaccan.com</li>
        <li>Password: Demo1234</li>
      </ul>
      <p class="hint-desc">
        Demo üyeliği 'USER' rolündedir. Create, Delete, Update işemleri yapamaz
      </p>
    </div>

    <form class="login-form" (submit)="onSubmit($event)">
      @if (loginForm.email().touched() && loginForm.email().invalid()) {
        <div class="error-message">
          <lucide-angular
            name="circle-alert"
            color="currentColor"
            class="alert-icon"
          ></lucide-angular>
          @for (error of loginForm.email().errors(); track error.message) {
            <span>{{ error.message }}</span>
          }
        </div>
      } @else if (loginForm.password().touched() && loginForm.password().invalid()) {
        <div class="error-message">
          <lucide-angular
            name="circle-alert"
            color="currentColor"
            class="alert-icon"
          ></lucide-angular>
          @for (error of loginForm.password().errors(); track error.message) {
            <span>{{ error.message }}</span>
          }
        </div>
      }
      @if (errorMessage()) {
        <div class="error-message">
          <lucide-angular
            name="circle-alert"
            color="currentColor"
            class="alert-icon"
          ></lucide-angular>
          <span>{{ errorMessage() }}</span>
        </div>
      }
      <div class="form-group-negative">
        <label for="email">Email</label>
        <div class="input-wrapper">
          <lucide-angular name="mail" color="currentColor" class="input-icon"></lucide-angular>
          <input
            type="email"
            id="email"
            [formField]="loginForm.email"
            placeholder="ornek@email.com"
            autocomplete="email"
            (input)="clearServerErrorMessage()"
          />
        </div>
      </div>

      <div class="form-group-negative">
        <label for="password">Şifre</label>
        <div class="input-wrapper">
          <lucide-angular name="lock" color="currentColor" class="input-icon"></lucide-angular>
          <input
            [type]="isPasswordVisible() ? 'text' : 'password'"
            id="password"
            [formField]="loginForm.password"
            placeholder="••••••••"
            autocomplete="current-password"
            (input)="clearServerErrorMessage()"
          />
          <lucide-icon
            [name]="isPasswordVisible() ? 'eye' : 'eye-off'"
            color="white"
            class="input-icon password-icon"
            (click)="changePasswordVisible()"
          ></lucide-icon>
        </div>
      </div>

      <button type="submit" class="button first-button" [disabled]="isLoading()">
        @if (isLoading()) {
          <span class="spinner"></span>
          <span>Giriş yapılıyor...</span>
        } @else {
          <span>Giriş Yap</span>
          <lucide-angular name="arrow-right" color="currentColor" class="d-flex"></lucide-angular>
        }
      </button>
    </form>

    <div class="login-footer">
      <p>© 2026 Dashboard. Tüm hakları saklıdır.</p>
    </div>
  </div>
</div>
