<div class="dialog-wrapper">
  <form [formGroup]="createCategoryModel" (ngSubmit)="createCategory()">
    <mat-dialog-content>
      <h2 mat-dialog-title align="center">Yeni Kategori Oluştur</h2>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Başlık</mat-label>
          <input type="text" matInput formControlName="title" />
          @if (title.hasError('required') && title.touched) {
            <mat-error>Başlık zorunludur</mat-error>
          }
          @if (title.hasError('minlength') && title.touched) {
            <mat-error>En az 3 karakter olmalı</mat-error>
          }
          @if (title.hasError('maxlength') && title.touched) {
            <mat-error>En fazla 50 karakter olmalı</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Üst Kategori</mat-label>
          <mat-select formControlName="parentId">
            <mat-option value="">-- Seçiniz --</mat-option>
            @for (categories of data; track categories.id) {
              <mat-option [value]="categories.id">{{ categories.title }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sıralama</mat-label>
          <input matInput type="number" formControlName="orderBy" min="0" />
          @if (orderBy.hasError('min') && orderBy.touched) {
            <mat-error>Eksi Değer girilemez</mat-error>
          }
        </mat-form-field>
        <mat-checkbox labelPosition="after" formControlName="isActive"> Aktif</mat-checkbox>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button type="button" mat-raised-button (click)="close()">İptal</button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="createCategoryModel.invalid || isLoading()"
      >
        Oluştur
      </button>
    </mat-dialog-actions>
  </form>
</div>
