<div class="dashboard-container d-direction-row">
  @if (isLoading() && categories().length === 0) {
    <p>Yükleniyor...</p>
  } @else {
    <div class="content-category-list-wrapper">
      <div class="category-header d-space-between">
        <h1 class="block-title">Kategoriler</h1>
        <button matButton="filled" (click)="openCreateCategoryDialog()">Ekle</button>
      </div>
      @defer (on idle) {
        @if (error()) {
          <div class="error-box">⚠️ {{ error() }}</div>
        } @else {
          <ul class="content-category-list">
            @for (category of categories(); track category.id) {
              <li class="category-item-wrapper">
                @if (category.isActive) {
                  <button
                    (click)="editCategoryActivated(category.id, $event, false)"
                    [disabled]="isLoading()"
                    matIconButton
                  >
                    <lucide-angular name="check" class="check c-pointer"></lucide-angular>
                  </button>
                } @else {
                  <button
                    (click)="editCategoryActivated(category.id, $event, true)"
                    [disabled]="isLoading()"
                    matIconButton
                  >
                    <lucide-angular name="x" class="times c-pointer"></lucide-angular>
                  </button>
                }
                <button matButton="elevated" (click)="editCategoryDialog(category.id)">
                  <lucide-angular name="pencil"></lucide-angular>
                </button>
                <a [routerLink]="[category.id]" routerLinkActive="active" class="category-item"
                  ><span>{{ category.title }}</span>
                  <lucide-angular name="chevron-right"></lucide-angular>
                </a>
              </li>
            } @empty {
              <li>Kategori bulunamadı.</li>
            }
          </ul>
        }
      } @placeholder {
        <ul class="content-category-list" aria-busy="true">
          @for (_ of categories(); track $index) {
            <li class="category-item-wrapper skeleton"></li>
          }
        </ul>
      }
    </div>
  }
  <main class="contents-detail">
    <router-outlet></router-outlet>
  </main>
</div>
