<div class="dashboard-container">
  @if (!categories()) {
    <p>Yükleniyor...</p>
  } @else {
    @let response = categories()!;

    @if (response.success) {
      <ul>
        @for (category of response.data; track category.id) {
          <li>
            <a [routerLink]="[category.id]" routerLinkActive="active" class="category-item">{{
              category.title
            }}</a>
          </li>
        } @empty {
          <li>Kategori bulunamadı.</li>
        }
      </ul>
    } @else {
      <div class="error-box">⚠️ {{ response.message }}</div>
    }
  }
  <main class="contents-detail">
    <router-outlet></router-outlet>
  </main>
</div>
