.form-wrapper { margin: var(--sc-second-gap) 0; }

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--sc-second-gap);
}

.form-row-item {
  display: flex;
  flex-direction: column;
  gap: var(--sc-first-gap);
}

.form-group-negative label {
  font-size: var(--sc-label-font-size);
  font-weight: 500;
  color: rgba(var(--sc-white-rgb), 0.8);
}

.form-group label.negative { color: var(--sc-black); }

.form-input {
  width: 100%;
  outline: none;
  height: var(--sc-input-height);
  padding: 0 var(--sc-second-padding);
  border-radius: var(--sc-input-radius);
  border: 1px solid var(--sc-border-color);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding: var(--sc-input-padding-set);
    background: rgba(var(--sc-white-rgb), 0.05);
    border: 1px solid rgba(var(--sc-white-rgb), 0.1);
    border-radius: var(--sc-input-radius);
    color: rgb(var(--sc-white-rgb));
    font-size: var(--sc-default-font-size);
    transition: var(--sc-transition);
    outline: none;

    &::placeholder { color: rgba(var(--sc-white-rgb), 0.3); }
    &:hover { border-color: rgba(var(--sc-white-rgb), 0.2); background: rgba(var(--sc-white-rgb), 0.08); }
    &:focus {
      border-color: var(--sc-first-color-medium);
      background: var(--sc-input-focus-bg-color);
      box-shadow: var(--sc-input-box-shadow);
    }
  }

  &:has(input:focus) svg { color: var(--sc-first-color-light); }
}

.input-icon {
  position: absolute;
  left: var(--sc-first-gap);
  width: var(--sc-input-normal-width);
  height: var(--sc-input-normal-height);
  color: rgba(var(--sc-white-rgb), 0.4);
  transition: var(--sc-transition);
}

.input-error-message {
  font-size: var(--sc-default-font-size);
  color: var(--sc-error-color);
}

.error-message {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--sc-first-gap);
  padding: var(--sc-input-padding-set);
  background: rgba(var(--sc-alert-error-rgb), 0.15);
  border: 1px solid rgba(var(--sc-alert-error-rgb), 0.3);
  border-radius: var(--sc-first-radius);
  color: var(--color-error);
  font-size: var(--sc-default-font-size);
  animation: shake 0.5s ease-in-out;
}

.alert-icon {
  position: absolute;
  left: var(--sc-first-gap);
  width: var(--sc-input-normal-width);
  height: var(--sc-input-normal-height);
  transition: var(--sc-transition);
}
