# Database
DB_USER="<db-kullanici-adi>"
DB_PASSWORD="<openssl rand -hex 32>"
DB_NAME="cms_project_db"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public"

# Redis
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD=""

# JWT
JWT_SECRET="<güçlü-rastgele-string>"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="<güçlü-rastgele-string>"
JWT_REFRESH_EXPIRES_IN="7d"

# API
API_KEY="<rastgele-api-key>"

# Session
SESSION_SECRET="<güçlü-rastgele-string>"
CACHE_TTL="1800000"

# Server
PORT="3000"
NODE_ENV="production"

# File Upload
FILE_MAX_SIZE_MB="9"

# Frontend (CORS)
FRONTEND_URL="https://cms-project.sertaccan.com"
CORS_ORIGIN="https://cms-project.sertaccan.com"