DATABASE_URL=""
# JWT Configuration
JWT_SECRET=""
JWT_EXPIRES_IN=""
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN=""
API_KEY=""
# Session Configuration
SESSION_SECRET=""
CACHE_TTL = ""
# Server Configuration
PORT=""
NODE_ENV=""

# Frontend Configuration
FRONTEND_URL=""

# CORS Configuration
CORS_ORIGIN=""